// Default navbar.
.navbar {
  &.container,
  &.container-fluid {
    margin-top: @navbar-margin-top;
  }
}

// Branding.
.navbar .logo {
  margin-right: 0px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: @logo-bg;
}

// Breadcrumbs.
.breadcrumb {
  margin-bottom: @breadcrumb-margin-bottom;
}

// Page header.


// Page body.


// Page footer.
footer a[href="http://gdgwebworks.com/"] {
  width: 86px;
  height: 40px;
  background: url(http://gdgwebworks.com/sites/all/themes/gdg/logo-alpha.png) top left no-repeat;
  font-size: 0px;
  display: inline-block;
  background-size: 86px 40px;
}
