/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@body-bg:               #fefefe;
//** Global text color on `<body>`.
@text-color:            @gray-dark;
@fade-bg: rgba(254, 254, 254, 0.88);


@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@navbar-default-bg:                rgba(0,0,0,0);
@navbar-default-border:            rgba(0,0,0,0);
@navbar-margin-top: 5px;
@navbar-margin-bottom: 5px;

@grid-gutter-width: 14px;
@padding-base-vertical: 3px;

@breadcrumb-padding-vertical: 3px;
@breadcrumb-padding-horizontal: 5px;
@breadcrumb-bg: @fade-bg;
@breadcrumb-margin-bottom: 6px;

@link-color: steelblue;
@logo-bg: @fade-bg;

@page-bg: @fade-bg;
